html, body, main {
  height: 100%;
  margin: 0;
}

.home {
  height: calc(100vh - 64px);
  background-image: url('http://res.cloudinary.com/yongpark/image/upload/b_rgb:000,o_70,q_100/v1484179204/pexels-photo-59016_zfavrq.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
}
