html, body, main {
  height: 100%;
  margin: 0;
}

.home {
  height: calc(100vh - 64px);
  background-image: url('http://res.cloudinary.com/yongpark/image/upload/v1484161896/food_fa0ezm.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
