@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.column-index{
  display: flex;
  margin: 25px;
  flex-wrap: wrap;
}

.column-index-item-container{
  position: relative;
  display: block;
  width: 250px;
  height: 100%x;
  margin-right: 30px;
  border-radius: 3px;
  text-decoration: none;
}

.column-index-item-container{
  list-style: none;
}

.column-title{
  text-align: center !important;
}

.column-index-item{
  border-radius: 3px !important;
  background-color: #FAFAFA !important;
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
  padding-bottom: 10px !important;
}
