.column-index{
  display: flex;
  margin: 25px;
}

.column-index-item-container{
  position: relative;
  display: block;
  width: 250px;
  height: 125px;
  margin-right: 50px;
  margin-top: 40px;
  border-radius: 3px;
  text-decoration: none;
}

.column-index-item{

}
