@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.gitem-index-container{
  position: relative;
  list-style: none;
  left: -40px;

}

.gitem-index-item{
  border-radius: 3px !important;
  background-color: #778f9b !important;
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
  width: 200px !important;
  margin-left: 5px !important;
}

.gitem-create{
  border-radius: 3px !important;
  background-color: #778f9b !important;
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
  width: 200px !important;
  margin-left: 5px !important;
}

.drop-target{
  color: #778f9b;
  padding-top: 26px;
  text-align: center;
  width: 210px;
  height: 47px;
  margin-bottom: 5px;
}

.gitem-edit-form{
  position: relative !important;
  border-radius: 3px !important;
  background-color: #CFD8DC !important;
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
  bottom: 80px !important;
  width: 200px !important;
  margin-left: 5px !important;
  margin-bottom: -217px !important;
}

.gitem-holder{
  margin-bottom: 7px;
}
