@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.main-text{
  font-family: 'Roboto', 'san-serif';
  margin: auto;
  position: relative;
  top: 10%;
  width: 780px;
  font-size: 60px;
  color: white;
  text-align: center;
 // text-shadow: 1px 1px black;
}

.main-description{
  font-family: 'Roboto', 'san-serif';
  margin: auto;
  position: relative;
  top: 20%;
  width: 780px;
  font-size: 40px;
  color: white;
  text-align: center;
}
