@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.list-menu{
  width: 260px;
  left: 0px;
  top: 30px;
  text-align: center;
}

.list-container{
  display: flex;
  justify-content: space-between;
  margin: 15px;
  height: calc(100vh - 81px);
  overflow: auto;
}

.list-container-header{
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

  .list-container-heading{
    font-family: 'Roboto', 'san-serif';
    display: inline-block;
  }
