@import url('https://fonts.googleapis.com/css?family=Roboto:100');


.lists-index {
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 2.2em 0.8em;

  font-size: 16px;
  font-weight: bold;

  background-color: #fff;
  font-family: 'Roboto', 'san-serif';
}


.lists-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  font-family: 'Roboto', 'san-serif';
}

.list-box {
  position: relative;
  display: block;
  width: 250px;
  height: 125px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', 'san-serif';
  color: green;
}

.lists-index-header{
  font-family: 'Roboto', 'san-serif';
}

.list-create-container {
  position: absolute;
  z-index: 2;
  display: none;
  width: 250px;
  height: 125px;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 3px;
  text-decoration: none;
  font-family: 'Roboto', 'san-serif';
  text-align: center;
  
  bottom: -15%;
  top: -1%;
  left: -1%;
  right: -2%;
}
