@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.list-menu{
  width: 260px;
  padding-left: 180px !important;
  top: 30px;
  text-align: center;
  font-family: 'Roboto', 'san-serif';
  font-weight: 300 !important;
}

.menu-card{
  background-color: #FAFAFA !important;
  font-weight: 300 !important;
  text-decoration: none;
}

.list-menu-button{
  background-color: #78909C !important;
  font-family: 'Roboto', 'san-serif';
  font-weight: 300 !important;
  color: #FAFAFA !important;
}

.list-container{
  margin: 0px auto;
  max-width: 100%;
  height: calc(100vh - 65px);
  overflow: auto;
  background-color: #E1E2E1;
  display: flex;
}

.list-container-header{
  margin-top: 15px;
  margin-left: 35px;
  display: inline-block;
  position: relative;
  font-family: 'Roboto', 'san-serif';
  width: 100%;
}

  .list-container-heading{
    font-family: 'Roboto', 'san-serif';
    color: #4B636E;
    font-weight: 300;
    display: inline-block;
  }

  .list-container-heading:hover{
    background-color: #ABACAB;
  }

.drag-drop-hint{
  position: absolute;
  color: #4B636E;
  font-family: 'Roboto', 'san-serif';
  font-weight: 300;
  font-size: 16px;
  top: 40px;
  width: 450px;
}

.list-update-container {
  position: absolute;
  z-index: 2;
  display: none;
  width: 250px;
  height: 125px;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
  text-align: center;
  background-color: #B0BEC5 !important;
  bottom: -15%;
  top: -1%;
  left: -1%;
  right: -2%;
}

.list-index-left{
  width: 75%;
}

.list-index-right{
  width: 25%;
}
