@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.lists-index {
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.2em 0.8em;
  font-size: 16px;
  font-weight: bold;
  background-color: #E1E2E1;
  font-family: 'Roboto', 'san-serif';
}

.list-index-item{
  font-family: 'Roboto', 'san-serif' !important;
  background-color: #778f9b !important;
  font-weight: 300 !important;
}

.lists-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  font-family: 'Roboto', 'san-serif';
}

.list-box {
  position: relative;
  display: block;
  width: 250px;
  height: 125px;
  margin-right: 20px;
  padding-top: 40px;
  margin-top: 20px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.list-card{
  position: relative;
  display: block;
  width: 250px;
  height: 125px;
  border-radius: 3px !important;
  background-color: #78909c !important;
  font-weight: 300 !important;
  text-decoration: none;
  cursor: pointer;
}

.list-card:hover{
  background-color: #5D6E77 !important;
}


.list-card-create{
  position: relative;
  display: block;
  width: 250px;
  height: 125px;
  border-radius: 3px !important;
  background-color: #9CCC65 !important;
  font-weight: 300 !important;
  text-decoration: none;
  cursor: pointer;
}

.list-card-create:hover{
  background-color: #85AA5A !important;
}

.card-subtitle{
  font-size: 16px !important;
}

.lists-index-header{
  font-family: 'Roboto', 'san-serif';
  color: #4b636e;
  font-weight: 300;
}

.list-create-container {
  position: absolute;
  z-index: 2;
  display: none;
  width: 250px;
  height: 125px;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 3px;
  text-decoration: none;
  font-family: 'Roboto', 'san-serif';
  text-align: center;

  bottom: -25%;
  top: 12%;
  left: 0%;
  right: -2%;
}

.list-create{
  background-color: #4FC3F7 !important;
  font-weight: 300 !important;
}
