.menu-close {
        top: auto;
        right: auto;
        left: 6em;
        bottom: 0.65em;
        width: 2em;
        height: 2em;
}


.menu-header {
  text-align: center;
  color: #8c8c8c;
  font-weight: normal;

  margin-bottom: 10px;

  cursor: auto;

  &:after {
    content: "";
    display: block;
    margin: 7px 10px;
    border-top: 1px solid #D6DADC;
  }
}

.list-menu {
  position: relative;

  .nav-button.disabled {
    display: none;
  }

  > .menu {
    display: block;
    top: 0;
    right: 0;
    transform: translateX(300px);
    transition: 0.2s ease 0s;

    border-radius: 0;

    &.show {
      transform: translateX(10px);
    }

    > .menu-close {
      top: 0.7em;
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.list-create-menu {
  width: 310px;
  top: 0;
  left: 0;

  .button {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4)
    }
  }
}
