@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.session-button{
  position: relative;
  margin-left: 70px;
  font-weight: 200 !important;
  background-color: #78909C !important;
}

.navbar{
  background-color: #0086c3 !important;
}

.navbarTitle{
  font-weight: 200 !important;
  font-family: 'Roboto', 'san-serif' !important;
}
