@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


.recipe{
  width: 400px !important;
  left: 0px;
  text-align: left;
  margin-top: 10px !important;
  font-family: 'Roboto', 'san-serif';
  font-weight: 300 !important;
}

.recipeIMG{
  height: 250px !important;
}


.overlay{
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
  margin-top: -8px !important;
}

  .overlay:hover{
    background-color: #0B76A7 !important;
  }

  a:link {
      text-decoration: none;
  }

  a:visited {
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  a:active {
      text-decoration: underline;
  }
