@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


.recipe{
  width: 400px !important;
  left: 0px;
  text-align: left;

  font-family: 'Roboto', 'san-serif';
  font-weight: 300 !important;
}

.recipeIMG{
  height: 250px !important;
}

.overlay{
  font-weight: 300 !important;
  font-family: 'Roboto', 'san-serif' !important;
}
