@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.main-text{
  font-family: 'Roboto', 'san-serif';
  margin: auto;
  padding-top: 10%;
  width: 780px;
  font-size: 60px;
  color: white;
  text-align: center;
 // text-shadow: 1px 1px black;
}

.main-description{
  font-family: 'Roboto', 'san-serif';
  margin: auto;
  padding-top: 5%;
  width: 780px;
  font-size: 40px;
  color: white;
  text-align: center;
}

.splash-session-button{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 42%;
}
