@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

.main-text{
  font-family: 'Roboto', 'san-serif';
  padding-top: 1em;
  margin: auto;
  width: 13em;
  font-size: 60px;
  color: #FAFAFA;
  text-align: center;
  font-weight: 100 !important;
 // text-shadow: 1px 1px black;
}

.main-description{
  font-family: 'Roboto', 'san-serif';
  font-weight: 100 !important;
  margin: auto;
  padding-top: 1em;
  width: 25em;
  font-size: 40px;
  color: white;
  text-align: center;
}

.splash-session-button{
  background-color: #78909C !important;
  font-weight: 200 !important;
  margin-top: 5em;
}
